#container, #render, #dataset {
    width:80%;
    margin:auto;
    margin-top:30px;
    /*border-style:solid;
    padding:10px;
    */
    color: black;
}


.subheader{
    //TODO
}

input[type="radio"]{
    margin: 0 10px 0 10px;
}

input[type="checkbox"]{
    margin: 20px 20px;
    vertical-align: middle; /* center checkbox vertically */
    text-align: center; /* center checkbox horizontally */
    font-size: 50px;
    transform: scale(2.0);
}



/*#course-checks-group {*/
    /*text-align: center; !* center checkbox horizontally *!*/
    /*!*vertical-align: middle; !* center checkbox vertically *!*!*/
    /*margin: 20px 100px;*/
    /*font-size: 18px;*/
    /*padding-right: 70px;*/
    /*padding-bottom: 50px;*/
/*}*/

th {
    text-align: left;
    background-color: blue;

}

tr {
    background-color: white;
}

th, td {
    padding: 0 1em 0.5ex 0;
    border-style:solid;
    padding:10px;
}

th.center, td.center {
    text-align: center;
}

th.num, td.num {
    text-align: right;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 15px;
}