<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>CPSC 310 Project</title>
    <link rel="stylesheet" href="./public/bootstrap.min.css">
    <link rel="stylesheet" href="./public/main.css">


    <!-- Custom styles for this template -->
    <link href="./public/style.css" rel="stylesheet">
    <link href="./public/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;display: block;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;padding: 5px 5px 8px 5px;font: 10px arial, san serif;text-align: left;}</style></head>

<body>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->

<div class="container">
    <section class="wrapper">
        <div class="row mt">
            <div class="col-sm-12">
                <div class="content-panel">
                    <div id="dataset">
                        <div class="form-group">
                            <h3>Dataset</h3>
                            <label for="datasetId">ID:</label>
                            <input type="text" class="form-control" id="datasetId">
                            <label for="datasetZip">Archive:</label>
                            <input type="file" class="form-control" id="datasetZip">
                        </div>
                        <button type="button" class="btn btn-primary" id="datasetAdd">Add Dataset</button>
                        <button type="button" class="btn btn-primary" id="datasetRm">Remove Dataset</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- /container -->


<script src="./public/jquery.min.js"></script>
<script src="./public/bootstrap.min.js"></script>
<script src="./public/d3.min.js"></script>
<script src="./public/main.js"></script>
<script type="text/javascript" src="./public/jquery.backstretch.min.js"></script>

<script>
    $.backstretch("./public/login-bg.jpg", {speed: 750});

</script>



</body>
</html>